VNS_MODE=rpc
VNS_ROOT_IDENTITY=fum@
VNS_TLD=vrsc
VNS_DEFAULT_TTL=300
PORT=8080

VERUS_RPC_URL=https://api.verustest.net/
VERUS_RPC_USER=
VERUS_RPC_PASSWORD=
VERUS_RPC_TIMEOUT_MS=10000

VERUS_WRITE_RPC_URL=http://127.0.0.1:18843
VERUS_WRITE_RPC_USER=
VERUS_WRITE_RPC_PASSWORD=replace_me
VERUS_WRITE_RPC_TIMEOUT_MS=10000

VNS_RESOLVER_URL=http://127.0.0.1:8080
VNS_DNS_PORT=1053
VNS_REDIRECT_HOST=127.0.0.1
VNS_REDIRECT_PORT=8081
VNS_REDIRECT_DEFAULT_STATUS=302
VNS_REDIRECT_TIMEOUT_MS=5000
