VDNS_MODE=rpc
VDNS_ROOT_IDENTITY=vdns@
VDNS_TLD=vdns
VDNS_DEFAULT_TTL=300
PORT=8080
VERUS_RPC_URL=https://api.verustest.net/
VERUS_RPC_USER=
VERUS_RPC_PASSWORD=
VERUS_RPC_TIMEOUT_MS=10000
VERUS_WRITE_RPC_URL=http://127.0.0.1:18843
VERUS_WRITE_RPC_USER=
VERUS_WRITE_RPC_PASSWORD=
VERUS_WRITE_RPC_TIMEOUT_MS=10000
