VDNS_MODE=rpc
VDNS_ROOT_IDENTITY=fum@
VDNS_TLD=vdns
VDNS_DEFAULT_TTL=300
PORT=8080

VERUS_RPC_URL=https://api.verustest.net/
VERUS_RPC_USER=
VERUS_RPC_PASSWORD=
VERUS_RPC_TIMEOUT_MS=10000

VERUS_WRITE_RPC_URL=http://127.0.0.1:18843
VERUS_WRITE_RPC_USER=
VERUS_WRITE_RPC_PASSWORD=replace_me
VERUS_WRITE_RPC_TIMEOUT_MS=10000

VDNS_RESOLVER_URL=http://127.0.0.1:8080
VDNS_DNS_PORT=1053
VDNS_GATEWAY_HOST=127.0.0.1
VDNS_GATEWAY_PORT=8081
VDNS_GATEWAY_DEFAULT_STATUS=302
VDNS_GATEWAY_TIMEOUT_MS=5000
