vdns:{$VDNS_DNS_PORT} {
  bind 127.0.0.1

  vdns {
    resolver_url {$VDNS_RESOLVER_URL}
    timeout 3s
  }

  errors
  log
  cache 30
}

.:{$VDNS_DNS_PORT} {
  bind 127.0.0.1

  forward . {$VDNS_UPSTREAM_DNS_1} {$VDNS_UPSTREAM_DNS_2}
  cache 300
  errors
  log
}
